<% provide(:title, 'スタッフ一覧') %>
<% if current_staff.status == 1%>
  <h1>店舗一覧</h1>
  <div class="row">
    <%= render 'index_shops'%>
  </div>
<% else %>
  <h1>スタッフ一覧</h1>
  <div class="row">
    <%= render 'index_staffs'%>
  </div>
<% end %>

<script>
var length = <%= @staff_count %> + 1
for (let i =1; i < length; i++){
var ctx = document.getElementById(`myChart${i}`);
var staff_name = document.getElementById(`staff_name${i}`);
var ftth = document.getElementById(`ftth${i}`).textContent;
var tab_new = document.getElementById(`tab_new${i}`).textContent;
var d_card_g = document.getElementById(`d_card_g${i}`).textContent;
var sls = document.getElementById(`sls${i}`).textContent;
var mnp = document.getElementById(`mnp${i}`).textContent;
var migration = document.getElementById(`migration${i}`).textContent;
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["光","タブ新規","GOLD","SLS","MNP","LTE移行"],
    datasets: [{
      label: staff_name.textContent,
      backgroundColor: "rgba(0,0,80,0.4)",
      borderColor: "rgba(0,0,80,1)",
      data: [ftth, tab_new, d_card_g, sls, mnp, migration]
    }, {
      label: '平均',
      backgroundColor: "rgba(0,255,0,0.4)",
      borderColor: "rgba(0,255,0,1)",
      data: <%= @average_value %>
    }]
  },
  options: { 
    scales:{
      yAxes: [{
        ticks: {
          min: 0,
          max: 3,
          fontSize: 12,
          stepSize: 0.5
        }
      }]
    }
  }
});
}
</script>


