<h1><%= @staff.name %></h1>

<div>
  <%= link_to "日報ページへ", staff_reports_path(@staff), class:"btn btn-primary" %>
</div>
<div>
  <%= link_to "予定表へ", staff_events_path(@staff), class:"btn btn-primary" %>
</div>
