<% provide(:url, staff_event_path) %>
<% provide(:method, :patch) %>

<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', staff_event_path %> |
<%= link_to 'Back', staff_events_path %>
