/*
*= require fullcalendar
*/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
/* mixins, variables, etc. */

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$gray-medium-light: #eaeaea;

body{
  font-family: 'Itim', 'Kosugi Maru';
}
/* universal */



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-medium-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* table */

table{
  margin-top: 20px;
  width:100%;
  vertical-align: middle;
  text-align: center;
}

th{
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}

td{
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}

/* form */

input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  border-radius: 3em;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation{
  color: red;
  ul{
    color: red;
    margin: 0 0 30px 0;
  }
}
/* top-page*/
#top-left{
  height: 250px;
}
.top-img{
  position: absolute;
  width: 95%;
  z-index: -1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.top-message{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 10;
  h1 {
    width: 200px;
    margin: 0;
  }
  p{
    text-align: center;
    margin-top: 10px;
  }
}

@media screen and (min-width:1024px) {
#top-left{
  position: relative;
}

.top-message{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 10;
  p{
    text-align: center;
    margin-top: 10px;
  }
}

.top-img{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
.top-right{
  height: 50%;
}
}
/* calendar */

.fc-toolbar h2{
  color: black;
  font-size: 2.1rem;
}

/* fade in*/
.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
.fadeinleft {
  opacity: 0;
  transform : translate(50px, 0);
  transition : all 1500ms;
}
.fadeinleft.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
.fadeinright {
  opacity: 0;
  transform : translate(-50px, 0);
  transition : all 1500ms;
}
.fadeinright.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}

.report-list{
  display: flex;
  flex-flow: row wrap;
}
